/* css code goes here */
.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-template-rows: repeat(6, 100px);
  gap: 5px;
  margin-bottom: 10px;
}

.calendar-day {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(0, 0, 0);
}

.input-wrapper {
  display: flex;
  align-items: center;
}

button {
  margin-left: 10px;
}
