footer {
  position: relative;
  width: 100%;
  bottom: -100px;
  background-color: #010e80;
}

footer p {
  color: white;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

footer a {
  color: white;
  text-decoration: none;
  text-align: center;
  width: 100%;
}

body {
  background-color: #e6e6e6;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #010e80;
  display: flex;
  flex-direction: row;
}

nav li {
  flex-grow: 1;
}

li :hover {
  background-color: black;
}

h1{
  text-align: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 30px ;
  text-decoration: none;
}

article {
  text-align: left;
  margin: 15px;
  max-width: 100%;
  font-size: 18px;
  line-height: 32px;
}

figure{
  display: flex;
  justify-content: center;
  align-items: center;
}

figcaption{
  text-align: center;
}
img {
  width: 400px;
  height: 300px;
}

aside {
  left: 10px;
  padding: 15px;
  max-width: 100%;
  position: relative;
  border: 5px solid rgb(1, 14, 128);
  font-size: 18px;
}

h2{
  text-align: center;
} 

video{
  display: block;
  width: 420px;
  height: 250px;
  padding: 15px;
}
audio{
  padding: 15px;
  max-width: 90%;
}
embed{
  width: 400px;
  height: 458px;
  padding: 15px;
}
